.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 250px;
}

.card {
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.color-square {
  font-family: sans-serif;
  width: 300px;
  display: inline-block;
  color: white;
  padding: 40px;
  margin: 10px;
}
h1 {
  text-align: center;
}

.items {
  padding-left: 15px;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.total {
  margin: 0 auto;
  text-align: center;
}

button {
  margin: 0 5px;
}

.dog-pics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

html,
body {
  font-family: sans-serif;
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode {
  background-color: #171717;
}

button {
  padding: 10px;
  margin: 5px;
  outline: none;
}

.dark-mode-button {
  border: 2px solid white;
  color: white;
  background-color: #171717;
}

.light-mode-button {
  border: 2px solid #171717;
  color: #171717;
  background-color: white;
}

body {
  padding: 0px;
  margin: 0px;
}

input,
label {
  display: block;
  margin: 8px auto;
}

input {
  padding: 8px;
  width: 300px;
}

input[type="submit"] {
  width: 100px;
}

img {
  max-width: 400px;
  max-height: 400px;
}

li {
  padding: 3px;
}
